# Server Settings
SERVER_PORT = 9090

# DB Instance
DATABASE_NAME=DB_SPRING_BOOT
DATABASE_PORT=5432
DATABASE_USERNAME=drizzle
DATABASE_PASSWORD=drizzle13579

# ORM Settings
DDL_AUTO=update
SHOW_SQL=true
FORMAT_SQL=true
DATABASE_SCHEMA=public